/* general styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: all 0.2s ease;
}

ul {
    list-style: none;
}

button {
    border: none;
    transition: all 0.2s ease;
    border-radius: 5px;
    cursor: pointer;
}

/* fonts styles */
.m-500 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.m-600 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.m-700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.p-500 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.p-600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.p-700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* ... ... */
/* HEADER SECTION */
/* ... ... */

/* .. */
header {
    background: url('../images/bg/bg.png');
    background-repeat: no-repeat;
    background-position: 0px -100px;
    background-size: cover;
    height: 100vh;
}

.header-navigation,
.navbar-content ul {
    display: flex;
    justify-content: space-between;
}

.header-navigation {
    align-items: center;
    background: #0000004a;
    padding: 19px 106px 23px 50px;
}

.header-navigation .logo {
    width: 72px;
    height: 22px;
    margin-top: 7.4px;
}

.navbar-content .open-nav {
    display: none;
}

.navbar-content a {
    margin-left: 25px;
    padding: 8px;
    color: #fff;
    font-size: 14.6px;
    letter-spacing: 0.26px;
}

.navbar-content a:hover {
    background: rgb(33 73 111 / 50%);
    border-radius: 10px;
}

/* .. */
.header-content {
    /*width to change in diff. screens*/
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-left: 68px;
    text-align: center;
}

.header-content .text {
    padding-left: 68px;
}

.header-content h1 {
    font-size: 49px;
    text-align: left;
}

.header-content p {
    font-size: 17.6px;
    text-align: left;
    margin: 29px 0 40px 0;
    letter-spacing: 0.26px;
    line-height: 24px;
}

.header-content button {
    background: #FFFFFF;
    color: rgba(56, 176, 0, 0.74);
    font-size: 20px;
    padding: 15px 23px 15px 20px;
    letter-spacing: 0.2px;
}

.header-content button:hover {
    background: #456b9a;
    color: #fffdfd;
}

/* ... ... */
/* CONTENT SECTION */
/* ... ... */

/* .. */
.content {
    padding: 0 112px 200px 112px;
    text-align: center;
}

.content-blocks {
    display: grid;
    justify-content: center;
    grid-template-columns: 249px 249px 249px;
    grid-gap: 52px;
}

.content-block {
    position: relative;
    width: 249px;
    text-align: center;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding-bottom: 55px;
}

.content-block:hover {
    box-shadow: 1px 2px 36px rgb(174 175 175 / 13%);
    cursor: pointer;
}

.content-block img {
    border-radius: 10px 10px 0px 0px;
}

.content-block .text {
    margin-top: 10px;
    color: #919191;
}

.content-block .block-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #5B5B5B;
    padding: 0 20px 0 10px;
    margin-bottom: 9px;
}

.content-block .location,
.content-block .distance,
.content-block .descr {
    padding: 0 20px 0 10px;
    text-align: left;
    font-size: 10px;
    font-size: 12px;
}

.content-block .descr {
    color: #929292;
    margin: 7px 0 8px 0;
    font-size: 12.9px;
    /* line-height: 16.4px; */
    font-weight: normal;
}

.content-block .distance {
    margin: 4px 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.block-title h2 {
    font-size: 15.6px;
    text-align: left;
}

.block-title p {
    font-size: 12px;
}

.content-block .location img {
    width: 12.6px;
    height: 12.6px;
}

.content-block .location {
    font-weight: lighter;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

.content-block button {
    color: #fff;
    background: rgba(56, 176, 0, 0.5);
    padding: 12px 13px 12px 15px;
    margin: 8px auto 11px auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 137px;
}

.content-block button:hover {
    background: green;
}

.content-btn {
    background: rgba(56, 176, 0, 0.5);
    width: 152px;
    height: 58px;
    color: #fff;
    margin-top: 105px;
}

.content-btn:hover {
    background: rgb(3, 136, 3);
}

/* ... ... */
/* INFO SECTION */
/* ... ... */

/* .. */
.info {
    padding: 0 50px 130px 50px;
    display: flex;
    align-items: flex-start;
}

.info-text {
    font-size: 19px;
    color: #959595;
    width: 50%;
}

.info-text p {
    margin-top: 24px;
}

.info-text .title {
    color: #5B5B5B;
    font-size: 46px;
    padding-bottom: 54px;
}

/* .. */
.info-blocks {
    display: grid;
    grid-template-columns: 246px 246px;
    grid-gap: 54px;
    justify-content: center;
    padding-left: 64px;
    width: 50%;
}

.info-block {
    padding: 31px 25px 0 23px;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    /* align-self: flex-start; */
}

.info-block img {
    width: 43px;
    height: 44px;
}

.info-block .info-title {
    font-size: 17px;
    color: #5B5B5B;
}

.info-block .info-descr {
    font-size: 13px;
    padding: 11px 0 20px 0;
    color: #959595;
}

/* ... ... */
/* BROCHURE SECTION */
/* ... ... */

/* .. */
.brochure {
    background: url('../images/brochure-bg.jpg');
    padding: 47px 0 70px 0;
    text-align: center;
    color: #FFFFFF;
}

.brochure-title {
    font-weight: 700;
    padding: 19px 0 18px 0;
    font-size: 35px;
}

.brochure-descr {
    font-size: 20px;
}

/* ... ... */
/* REVIEW SECTION */
/* ... ... */

/* .. */
.review {
    display: grid;
    grid-template-columns: 476px 476px;
    grid-gap: 46px;
    row-gap: 94px;
    justify-content: center;
    padding: 86px 0 102px 0;
}

.review-title {
    width: 476px;
    font-size: 19px;
    color: #959595;
}

.review-title .t {
    color: #5B5B5B;
    font-size: 46px;
    padding-bottom: 54px;
}

.review-opinion {
    position: relative;
    width: 430px;
    background: rgba(56, 176, 0, 0.5);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    color: #fff;
    padding: 0 33px 72px 33px;
    display: flex;
    flex-direction: column;
}

.review-opinion:last-child {
    background: #fff;
    color: #9CD880;
    padding-right: 26px;
}

.review-opinion img {
    width: 75px;
    height: 75px;
    position: absolute;
    top: -45px;
}

.review-opinion .name {
    text-align: center;
    font-weight: 700;
    margin: 7px 0 43px 0;
    flex: 2;
}

.review-opinion .opinion {
    font-weight: 600;
    flex: 6;
}

/* ... ... */
/* FORM SECTION */
/* ... ... */

/* .. */
.form {
    text-align: center;
    padding-bottom: 144px;
}

.form-title {
    color: #5B5B5B;
    font-size: 46px;
}

.form form {
    border: 0.3px solid #D6D6D6;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    width: 702px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    padding: 18px 18px 18px 47px;
}

.form input {
    background: none;
    border: none;
    color: #959595;
    width: 100%;
}

.form button {
    background: rgba(56, 176, 0, 0.5);
    color: #fff;
    padding: 20px 62px 20px 64px;
    border-radius: 10px;
    margin-left: auto;
}

/* ... ... */
/* FOOTER */
/* ... ... */

/* .. */
footer {
    background: url('../images/footer-bg.png');
    padding: 203px 0 42px 124px;
    background-size: cover;
    display: flex;
    align-items: center;
}

footer .logo {
    width: 97px;
    height: 34px;
    margin: 14px 0 55px 0;
}

/* .. */
footer .icons {
    flex: 1;
}

footer .icons-title {
    color: #fff;
}

footer .ic {
    margin-top: 8.6px;
}

footer .ic img {
    width: 24px;
    height: 24px;
}

footer .ic a {
    margin-left: 10px;
}

footer .ic a:first-child {
    margin-left: 0;
}

footer .ic img:last-child {
    width: 22px;
    height: 22px;
}

/* .. */
footer .links {
    flex: 1;
}

footer .links,
footer .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 17px;
}

footer .links-title,
footer .contacts-title {
    font-size: 24px;
}

footer .links a {
    color: #fff;
    margin-top: 10px;
}

footer .links a:first-child {
    margin-right: 0;
}

/* .. */
footer .contacts {
    flex: 4;
}

footer .contacts p {
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

footer .contacts p:first-child {
    margin-right: 0;
}

/* ... ... */
/* MEDIA QUERIES */
/* ... ... */

/* .. */
@media (min-width: 2057px) {
    .header-content {
        width: 45%;
    }
}

/* .. */
@media (min-width: 1201px) and (max-width: 2057px) {
    .header-content {
        margin-top: -54px;
        width: 57%;
    }
}

/* .. */
@media (min-width: 1025px) and (max-width: 1200px) {
    .header-content {
        margin-top: -54px;
        width: 70%;
    }

    /* / */
    .info-text {
        font-size: 17px;
    }

    .info-blocks {
        width: auto;
        grid-gap: 24px;
        padding-left: 43px;
    }

    /* / */
    .review {
        padding-left: 46px;
    }
}

/* .. */
@media (min-width: 769px) and (max-width: 1024px) {
    .header-content {
        width: 87%;
        padding-left: 40px;
    }

    /* / */
    .content-blocks {
        grid-template-columns: 249px 249px;
    }

    /* / */
    .info {
        flex-direction: column;
        gap: 69px;
    }

    .info-text {
        font-size: 17px;
        width: 100%;
    }

    .info-blocks {
        width: 100%;
        grid-gap: 24px;
        padding-left: 0px;
    }

    /* / */
    .review {
        padding-left: 46px;
        grid-template-columns: 476px;
    }
}

/* .. */
@media (min-width: 481px) and (max-width: 768px) {
    .header-content {
        width: 87%;
        padding-left: 40px;
        margin-top: -19px;
    }

    .header-content .text {
        padding-left: 45px;
    }

    .header-content h1 {
        font-size: 38px;
    }

    .header-content p {
        margin: 29px 0 28px 0;
    }

    .header-content button {
        font-size: 18px;
    }

    .navbar-content .nav {
        display: none;
    }

    /* / */
    .content-blocks {
        grid-template-columns: 249px;
    }

    /* / */
    .info {
        flex-direction: column;
        gap: 69px;
    }

    .info-text {
        font-size: 17px;
        width: 100%;
    }

    .info-blocks {
        width: 100%;
        grid-template-columns: 246px;
        grid-gap: 24px;
        padding-left: 0px;
    }

    /* / */
    .review {
        padding-left: 0;
        grid-template-columns: 476px;
    }

    .review-title .t {
        padding-left: 46px;
    }

    .review-title .descr {
        padding-right: 39px;
        padding-left: 46px;
    }

    .review-opinion {
        margin-left: 31px;
    }
}

/* .. */
@media (min-width: 320px) and (max-width: 480px) {
    .header-content {
        width: 87%;
        padding-left: 40px;
        margin-top: -19px;
    }

    .header-content h1 {
        font-size: 38px;
    }

    .header-content p {
        font-size: 14.6px;
        line-height: 22px;
    }

    .header-content button {
        font-size: 18px;
    }

    .navbar-content .nav {
        display: none;
    }

    .header-content .text {
        padding-left: 0;
    }

    /* / */
    .content {
        padding: 0;
    }

    .content-blocks {
        grid-template-columns: 249px;
    }

    /* / */
    .info {
        flex-direction: column;
        gap: 69px;
        padding-top: 60px;
    }

    .info-text {
        font-size: 17px;
        width: 100%;
    }

    .info-text .title {
        padding-bottom: 5px;
    }

    .info-blocks {
        width: 100%;
        grid-template-columns: 246px;
        grid-gap: 24px;
        padding-left: 0px;
    }

    /* / */
    .review {
        padding-left: 0;
        grid-template-columns: 340px;
    }

    .review-title {
        font-size: 16px;
        width: 87%;
    }

    .review-title .t {
        padding-left: 46px;
        font-size: 27px;
    }

    .review-title .descr {
        padding-right: 0;
        padding-left: 46px;
    }

    .review-opinion {
        margin-left: 31px;
        width: 279px;
    }
}

/* .. */
@media (min-width: 320px) {
    .brochure {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .brochure-descr {
        padding: 0 20px;
    }
}

/* .. */
@media (max-width: 829px) {
    .header-content {
        margin-top: -62px; 
    }

    .header-content h1 {
        font-size: 30px;
    }

    .header-content p {
        font-size: 13.6px;
        margin: 29px 0 6px 0;
    }

    .header-content button {
        font-size: 9.6px;
        padding: 11px 23px 11px 20px;
    }
}

/* .. */
@media (max-width: 486px) {
    .header-content {
        margin-top: -49px;
    }

    .header-content h1 {
        font-size: 30px;
    }

    .header-content p {
        font-size: 13.6px;
        margin: 29px 0 18px 0;
    }

    .header-content button {
        font-size: 10.3px;
        padding: 11px 23px 11px 20px;
    }
}

/* .. */
@media (max-width: 394px) {
    .header-content h1 {
        font-size: 24px;
    }

    .header-content p {
        font-size: 13.6px;
    }
}