/* .. */
header {
    background: url('../../../../public/assets/images/bg/bg.png');
    background-repeat: no-repeat;
    background-position: 0px -100px;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.header-navigation,
.navbar-content ul {
    display: flex;
    justify-content: space-between;
}

.header-navigation {
    align-items: center;
    background: #0000004a;
    padding: 19px 106px 23px 50px;
}

.header-navigation .logo {
    width: 72px;
    height: 22px;
    margin-top: 7.4px;
}

.navbar-content .open-nav {
    display: none;
}

.navbar-content a {
    margin-left: 25px;
    padding: 8px;
    color: #fff;
    font-size: 14.6px;
    letter-spacing: 0.26px;
}

.navbar-content a:hover {
    background: rgb(33 73 111 / 50%);
    border-radius: 10px;
}

/* .. */
.header-content {
    /*width to change in diff. screens*/
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-left: 68px;
    text-align: center;
    opacity: 0;
    transition: all 0.9s ease;
    transform: translateY(20px);
}

.header-content .text {
    padding-left: 68px;
}

.header-content h1 {
    font-size: 49px;
    text-align: left;
}

.header-content p {
    font-size: 17.6px;
    text-align: left;
    margin: 29px 0 40px 0;
    letter-spacing: 0.26px;
    line-height: 24px;
}

.header-content button {
    background: #FFFFFF;
    color: rgba(56, 176, 0, 0.74);
    font-size: 20px;
    padding: 15px 23px 15px 20px;
    letter-spacing: 0.2px;
}

.header-content button:hover {
    background: #456b9a;
    color: #fffdfd;
}

/* .. */
.down-btn {
    margin: 0 auto;
    position: absolute;
    bottom: 82px;
    width: 88px;
    left: 0;
    right: 0;
    cursor: pointer;
}